.profile__add-button {
    height: 50px;
    width: 150px;
    margin: auto 0 auto 0;
    background-image: url(../../../images/plus.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    border: solid #ffffff 2px;
    background-position: center;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .profile__add-button {
        margin: 36px 0 0 0;
        width: 100%;
    }
}