.header {
  width: 100%;
  min-height: 74px;
  padding: 54px 0 0 0;
  margin: 0 auto 36.25px auto;
  border-bottom: rgba(84, 84, 84, 0.7) 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header {
    margin: 28px 0 38.25px 0;
    padding-left: 27px;
    min-height: 56px;
    box-sizing: border-box;
  }
}
